:root {
    --gradient-primary: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
    background: var(--gradient-primary);
}

.text-custom {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.border-gradient {
    border: solid 3px transparent;
    background: var(--gradient-primary);
    background-origin: border-box;
    box-shadow: 2px 1000px 1px #fff inset;
}

.logo {
    width: 60px;
    height: 60px;
}

.skeleton-box {
    position: relative;
    overflow: hidden;
    background-color: #e2e8f0;
}

.skeleton-box::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 0,
            rgba(255, 255, 255, 0.2) 20%,
            rgba(255, 255, 255, 0.5) 60%,
            rgba(255, 255, 255, 0)
    );
    animation: shimmer 3s infinite;
    content: '';
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}
